/* Cuando descargamos fuentes se debe inicializar arriba */
@font-face {
    font-family: "bonita";
    src: url("../assets/fonts/Admiration\ Pains.ttf");
}
h1 {
    font-family: "bonita";
    font-size: 25px;
    text-shadow: 1.5px 0 0 red;
    /* writing-mode: vertical-rl; */
/*     word-break: break-all;
    width: 10px; */
}

body {
    background-color: #333;
    color: khaki;
}

.text{
    font-family:'The Nautigal', cursive;
    text-transform: capitalize;
}
.n2{
    font-family: monospace;
    letter-spacing: -1px;
}
.n3{
    font-family: cursive;
    word-spacing: 15px;
}
.n4 {
    font-family: fantasy;
    line-height: 3;
}
.link{
    text-decoration: line-through;
    color: inherit;
    border-bottom: 2px solid #fff;
}

/* Trabajando con iconos remotamente
 - Tenemos la ventaja de modificarlos en tamaño y colores*/
.icon {
    font-size: 1rem;
    color: lightseagreen;
}