body {
    background-color: #333;
    color: bisque;
}

:root{
    --color: red;
    --border: 2px solid yellow;
}

.text{
    color: var(--color);
}

.article{
    --color: green;
}

.check:checked + .box{
    --color: blue;
}

.box{
    width: 100px;
    height: 100px;
    background-color: var(--color);
    border: var(--border);
}